.footer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 381px;
  padding: 24px 0.2px;
  width: 1281px;
}

.flex-row-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 190px;
  margin-right: 50.48px;
  margin-top: 66px;
  min-width: 1011px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 117px;
  width: 259px;
}

.prsna_-logo_-full-color-1 {
  height: 34px;
  width: 161px;
}

.evolve-your-brand-an-1 {
  color: var(--silver-chalice);
  font-family: var(--font-family-nb_architekt-regular);
  font-size: var(--font-size-l2);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 0.44px;
  margin-top: 10px;
  min-height: 50px;
  width: 258px;
}

.group-68 {
  align-items: flex-start;
  display: flex;
  margin-left: 0.44px;
  margin-top: 10px;
  min-width: 43px;
}

.union-6 {
  height: 13px;
  width: 14px;
}

.union-5 {
  height: 13px;
  margin-left: 1px;
  width: 14px;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 642px;
  min-height: 190px;
  width: 111px;
}

.about-1 {
  letter-spacing: 0;
  margin-left: 0.49px;
  min-height: 16px;
  width: 43px;
}

.services-1 {
  letter-spacing: 0;
  margin-left: 0.49px;
  margin-top: 10px;
  min-height: 16px;
  width: 69px;
}

.work-1 {
  letter-spacing: 0;
  margin-left: 0.49px;
  margin-top: 10px;
  min-height: 16px;
  width: 35px;
}

.web-3-1 {
  letter-spacing: 0;
  margin-left: 0.49px;
  margin-top: 10px;
  min-height: 16px;
  width: 43px;
}

.contact {
  letter-spacing: 0;
  margin-left: 0.49px;
  margin-top: 10px;
  min-height: 16px;
  width: 61px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  min-width: 111px;
  position: relative;
}

.icon-border {
  height: 30px;
  width: 31px;
}

.overlap-group-2 {
  height: 47px;
  margin-top: 30px;
  position: relative;
  width: 1174px;
}

.x2022-prsna-studio-l {
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
  width: 270px;
}

.prsna-studio-llc {
  left: 904px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
  width: 160px;
}

.divider-bar {
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1174px;
}

.about-1:hover, .services-1:hover, .work-1:hover, .web-3-1:hover, .contact:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.x2022-prsna-studio-l, .prsna-studio-llc {
  z-index: 2;
}
