@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: 'nb_architekt';
  src: url(assets/fonts/NB_Architekt_Neue_Bold.otf);
}

.screen a {
  font-family: 'nb_architekt', sans-serif;
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

#root {
  background-color: #161616;
}

.button-system-style:hover {
  cursor: pointer;
  transform: scale(1.1);
}